@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
</style>
.App {

  background-size: cover;
  text-align: center;
  background-color: black;


}
.text{
font-family: 'Orbitron', sans-serif;
position: absolute;
width: 588px;
height: 40px;
left: 432px;
top: 98px;

/* Heading */

font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */

letter-spacing: 0.2em;
text-transform: uppercase;

color: #F8EF00;
}

[data-color-mode*="dark"],
[data-color-mode*="dark"] body {
  --color-canvas-subtle: #1E1E1E;
}

[data-color-mode*="light"],
[data-color-mode*="light"] body {
  --color-canvas-subtle: #f5f5f5;
}

.button{
  background-color: #F8EF00;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  padding: 20px 250px 20px 30px;
  clip-path: polygon(0 1%, 100% 0%, 100% 100%, 10% 100%, 0 75%);
}